<div class="center hero-unit">
  <h1>Welcome to <i> <%= APP_NAME %> </i></h1>

  <% unless signed_in? %>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>

  
</div>

