
<!-- form for a new list  -->
<div class="planner">
  
<%= render 'layouts/add_list', :new_list => @new_list %>

<ul class="list_container">
<% @lists.each do |list| %>
<%= render 'layouts/show_tasks_in_lists', :list => list, :tasks => list.tasks.order('status'),
								:new_task => list.tasks.new() %>
<% end %>
</ul>	

</div>